
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(197, 193, 193);
    z-index: 1;
}
img {
    object-fit: cover;
    object-position: 100% 40%;
    height: 50px;
    width: 150px;
}
.btn{
    color: rgb(81, 182, 81);
    text-decoration: none;
}
.btn:hover{
    color: rgb(46, 165, 46);
}

.btn-3 {
    border: 0;
    top: 100%;
    background-color: white;
    color:  rgb(81, 182, 81);
    z-index: 2;
}
/* .dd-container:hover {  
    border-top: 4px solid green;
    border: 1px solid lightgray;
    height: 400px;
    z-index: 3;
    position: absolute;
} */

.container {
    display: none;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-top: none;
    position: absolute;
    z-index: 4;
    top: 35px;
    left: -267px;
    color: black;
    padding-top: 15%;
    padding-left: 80%; 
    width: 280px;
}
/* .container{
    display: flex;
} */
.container>a {
    margin: 8px;
}

.btn-3:hover {
    /* border: none;
    border-radius: none; */
    background-color: white;
    color: rgb(46, 165, 46);
    
}

.active {
    border: 1px solid lightgrey;
    border-top: 5px solid green;
}

.dd-container:hover .container, .container:hover {
    display: flex;
}

.dd-container {
    padding: 15px;
}