
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(197, 193, 193);
    z-index: 1;
}
img {
    object-fit: cover;
    object-position: 100% 40%;
    height: 50px;
    width: 150px;
}
.btn {
    color: rgb(81, 182, 81);
    text-decoration: none;
}
.btn:hover {
    color: rgb(46, 165, 46);
}

